{% extends 'admin_base.html' %}
{% load static %} 
{% block body %}

<div style="background-color:white; padding: 20px;">
    <table style="border-collapse: collapse; width: 100%;">
        <thead>
            <tr style="background-color: #007BFF; color: white;">
                <th style="border: 1px solid #ccc; padding: 8px;">ID</th>
                <th style="border: 1px solid #ccc; padding: 8px;">First Name</th>
                <th style="border: 1px solid #ccc; padding: 8px;">Last Name</th>
                <th style="border: 1px solid #ccc; padding: 8px;">Phone Number</th>
                <th style="border: 1px solid #ccc; padding: 8px;">Location</th>
                <th style="border: 1px solid #ccc; padding: 8px;">Email</th>
                <th style="border: 1px solid #ccc; padding: 8px;">Created Date</th>
                <th style="border: 1px solid #ccc; padding: 8px;">Username</th>
                <th style="border: 1px solid #ccc; padding: 8px;">User Type</th>
            </tr>
        </thead>
        <tbody>
            {% for i in emp %}
            <tr>
                <td style="border: 1px solid #ccc; padding: 8px;">{{ i.user_id }}</td>
                <td style="border: 1px solid #ccc; padding: 8px;">{{ i.f_name }}</td>
                <td style="border: 1px solid #ccc; padding: 8px;">{{ i.l_name }}</td>
                <td style="border: 1px solid #ccc; padding: 8px;">{{ i.phone_no }}</td>
                <td style="border: 1px solid #ccc; padding: 8px;">{{ i.Location }}</td>
                <td style="border: 1px solid #ccc; padding: 8px;">{{ i.email }}</td>
                <td style="border: 1px solid #ccc; padding: 8px;">{{ i.Created_date }}</td>
                <td style="border: 1px solid #ccc; padding: 8px;">{{ i.user_name }}</td>
                <td style="border: 1px solid #ccc; padding: 8px;">{{ i.user_type }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
