{% extends 'employer_base.html' %}
{% load static %}

{% block body %}
<div class="container mt-4">
    <h1 style="color: white;"><b>Welcome, {{ employer.user.username }}<b></h1>
    <p style="color: white;">Your worker dashboard and available workers:</p>
    <div class="row">
        {% if workers %}
            {% for i in workers %}
                {% cycle '' '' '' '' as row_divider %}
                {% if forloop.counter0|divisibleby:4 %}
                    </div><div class="row">
                {% endif %}
                <div class="col-md-3">
                    <div class="card mb-4">
                        {% for j in customers %}
                        {% if i.user.id == j.user.id %}
                        <img src="{{ j.profile_pic.url }}" class="card-img-top" alt="Worker Image" style="height:20rem;width:16.3rem;">
                        {% endif %}
                        {% endfor %}

                        <div class="card-body">
                            <h5 class="card-title">{{ i.user.username }}</h5>
                            <p class="card-text">{{ i.type.job_type }}</p>
                            <p class="card-text">{{ i.wage }}</p>
                            <a href="{% url 'employer_hire' i.id %}" class="btn btn-primary btn-sm">Hire</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p style="color: white;">No workers are available.</p>
        {% endif %}
    </div>
</div>

<div class="container-fluid bg-primary text-white text-center py-1">
    <h4>{{ employer.user.username }} Dashboard</h4>
    <p>Current Hired Workers: 
        
    </p>
</div>
</body>
</html>
{% endblock %}
