{% load static %}
<style>
    .navbar {
        height: 5rem;;
    }
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
    <a class="navbar-brand" style="margin-left:1rem;" href="#">Employer Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto" style="margin-right:6rem;"> 
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'employer_home' %}">Home <span class="sr-only"></span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Profile</a>
                <div class="dropdown-menu">
                    
                    {% comment %} <a class="dropdown-item" href="#">Edit Password</a>
                    <div class="dropdown-divider"></div> {% endcomment %}
                    <a class="dropdown-item" href="{% url 'password_change_emp' %}">Password change</a>
                    <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                </div>
            </li>
            {% comment %} <li class="nav-item">
                <a class="nav-link" href="#">Dashboard</a>
            </li> {% endcomment %}
        </ul>
        {% comment %} <form class="form-inline ml-auto"> 
            <input class="form-control" type="search" placeholder="Search">
            <button class="btn btn-secondary" type="submit">Search</button>
        </form>  {% endcomment %}
    </div>
</nav>
