{% extends "employer_base.html" %}
{% block body %}
<style>
    body {
        background-color: #242424;
        color: white;
    }

    .negotiate-button {
        background-color: #007BFF; 
        color: white;
    }

    .modal {
        color: black;
    }

    .modal-content {
        background-color: #333;
        color: white; 
    }
    
    /* Add spacing between details */
    .card-text {
        margin-bottom: 10px;
    }
    
    .availability-section {
        margin-top: 20px;
    }
</style>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-4">
                {% for j in customer %}
                {% if worker.user.id == j.user.id %}
                <img src="{{ j.profile_pic.url }}" class="card-img-top" alt="Worker Image">
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4"style="background-color: rgba(255, 255, 255, 0.7);">
                <div class="card-body">
                    {% for j in customer %}
                    {% if worker.user.id == j.user.id %}
                    <h4 class="card-title text-center">Worker Details</h4>
                    <h2 class="card-title text-center mb-3">{{ worker.user.first_name }} {{ worker.user.last_name }}</h2>
                    <p class="card-text h5">Phone Number: (+91) {{ j.phone_no }}</p>
                    <p class="card-text h6">Location: {{ j.location }}</p>
                    {% comment %} <p class="card-text h6">User Type: {{ j.user_type }}</p> {% endcomment %}
                    <p class="card-text h5">Wage: ₹{{ worker.wage }}</p>
                    <div class="availability-section">
                        <h3>Availability</h3>
                        <p class="lead">
                            <b>Unavailable on:
                                {% for day, available in worker.availability.items %}
                                    {% if not available %}
                                        {{ day }},
                                    {% endif %}
                                {% endfor %}
                            </b>
                        </p>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="text-center">
                    <a href="#" class="btn btn-primary btn-sm negotiate-button" data-toggle="modal" data-target="#negotiateModal">Negotiate</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="negotiateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Negotiate with {{ worker.user.first_name }} {{ worker.user.last_name }}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'negotiate' worker.id %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="start_date" class="h5">Start Date:</label>
                        <input type="date" class="form-control" id="start_date" name="start_date" required>
                    </div>
                    <div class="form-group">
                        <label for="end_date" class="h5">End Date:</label>
                        <input type="date" class="form-control" id="end_date" name="end_date" required>
                    </div>
                    <div class="form-group">
                        <label for="wage" class="h5">Wage:</label>
                        <input type="text" class="form-control" id="wage" name="wage" placeholder="Wage" value="{{worker.wage}}" required disabled>
                    </div>
                    <div class="form-group">
                        <label for="total_wage" class="h5">Total Wage:</label>
                        <input type="text" class="form-control" id="total_wage" name="total_wage" required>
                    </div>
                    <script>
                        var currentDate = new Date().toISOString().slice(0, 10);
                        var startDateInput = document.getElementById('start_date');
                        var endDateInput = document.getElementById('end_date');
                        var wageInput = document.getElementById('wage');
                        var totalWageElement = document.getElementById('total_wage');
                        var unavailableDays = []; // Initialize an array to store unavailable days
                        
                        startDateInput.setAttribute('min', currentDate);
                    
                        startDateInput.addEventListener('change', function () {
                            endDateInput.min = startDateInput.value;
                            calculateTotalWage();
                        });
                    
                        endDateInput.addEventListener('change', calculateTotalWage);
                    
                        wageInput.addEventListener('input', calculateTotalWage);
                    
                        // Function to update the list of unavailable days based on worker.availability.items
                        function updateUnavailableDays() {
                            unavailableDays = [];
                            {% for day, available in worker.availability.items %}
                                {% if not available %}
                                    unavailableDays.push('{{ day }}');
                                {% endif %}
                            {% endfor %}
                        }
                        
                        function calculateTotalWage() {
                            var startDate = new Date(startDateInput.value);
                            var endDate = new Date(endDateInput.value);
                            var wage = parseFloat(wageInput.value) || 0; // Use parseFloat to ensure wage is treated as a number
                            var totalWage = 0;
                    
                            // Update the list of unavailable days
                            updateUnavailableDays();
                            
                            var currentDay = startDate;
                            while (currentDay <= endDate) {
                                // Check if the current day is unavailable
                                var dayOfWeek = currentDay.getDay(); // 0 (Sunday) to 6 (Saturday)
                                var dayName = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'][dayOfWeek];
                    
                                if (!unavailableDays.includes(dayName)) {
                                    totalWage += wage;
                                }
                    
                                // Move to the next day
                                currentDay.setDate(currentDay.getDate() + 1);
                            }
                    
                            totalWageElement.value = totalWage.toFixed(2); // Set the value of the input field
                        }
                    </script>
                    
                    
                    
                    <script>
                        var currentDate = new Date().toISOString().slice(0, 10);
                        var startDateInput = document.getElementById('start_date');
                        var endDateInput = document.getElementById('end_date');
                    
                        startDateInput.setAttribute('min', currentDate); 
                    
                        startDateInput.addEventListener('change', function () {
                            endDateInput.min = startDateInput.value; 
                        });
                    </script>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
