{% extends 'employer_base.html' %}
{% load static %}

{% block body %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<style>
    .custom-select {
        width: 15rem;
        height: 2.5rem;
        padding: 0px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 0px;
        margin-bottom: 16px;
        resize: vertical;
    }       
    .card {
        background-color: rgba(255, 255, 255, 0.7);
        border: none;
        border-radius: 10px; 
    }
    
    .card-body {
        padding: 20px; 
    }
    
    .scroll-container {
        max-height: 300px;
        overflow-y: auto;
    }
    
    .status-item {
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
        border-bottom: 1px solid #ccc;
    }
    
    .worker-info {
        flex: 1;
        margin-right: 10px;
    }
    
    .status-info {
        flex: 1; 
    }
    
    .status-item:not(:last-child) {
        margin-bottom: 10px;
    }

    .worker-card {
        position: relative;
        overflow: hidden;
    }

    .worker-card img {
        height: 200px;
        width: 100%;
        object-fit: cover;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        transition: opacity 0.3s;
    }

    .worker-card:hover img {
        opacity: 0.7;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.5);
        opacity: 0;
        transition: opacity 0.3s;
    }

    .worker-card:hover .overlay {
        opacity: 1;
    }

    .overlay button {
        background-color: #28a745;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .button-primary{

            background-color: #007BFF;
            border: none;
            padding: 10px 20px;
            font-size: 18px;
            cursor: pointer;
            display: block;
            margin: 0 auto;
        }

        .btn-primary:hover {
            background: #fff;
            color: #007BFF;
            border: 1px solid #007BFF; 
        }



</style>
<div class="container mt-4">
    <h1 class="text" style="color: white;font-weight:20rem;"><b>Welcome, {{ employer.user.username }}</b></h1>
    <p class="text" style="color: white;font-weight:20rem;">Your employer dashboard and available workers:</p>
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4" style="background-color: rgba(255, 255, 255, 0.7);">
                <div class="card-body">
                    <h2 class="card-title">Manage Your Profile</h2>
                    <p class="card-text">Hire workers, update your profile, and more.</p>
                    <h5 class="card-title">About Me</h5>
                        <div class="row">
                            <div class="col-md-4">
                                <p><strong>Email:</strong> {{ employer.user.email }}</p>
                                <p><strong>Last Name:</strong> {{ employer.user.last_name }}</p>
                                <p><strong>Phone Number:</strong> +91 {{ customer.phone_no }}</p>

                            </div>
                            <div class="col-md-4">
                                <p><strong>Username:</strong> {{ employer.user.username }}</p>
                                <p><strong>First Name:</strong> {{ employer.user.first_name }}</p>
                                <p><strong>Location:</strong> {{ customer.location }}</p>
                            </div>
                            <div style="margin-top:-4rem;" class="col-md-4">
                                <img src="{{ customer.profile_pic.url }}" alt="Current Profile Picture" class="img-thumbnail preview-image">
                            </div>
                            
                        </div>
                    <a style="margin-left:0px;" href="{% url 'employer_update' update_id=employer.user.id %}" class="btn btn-primary btn-block" style="margin-left:5rem;">Update Profile</a>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Hiring Status</h5>
                    <div class="scroll-container">
                        {% for hiring_request in hiring_requests %}
                            <div class="status-item">
                                <div class="worker-info">
                                    <p><strong>Worker:</strong> </p>
                                    <p>{{ hiring_request.worker.user.first_name }} {{ hiring_request.worker.user.last_name }}</p>
                                </div>
                                <div class="status-info">
                                    <p><strong>Status:</strong> </p>
                                {{ hiring_request.status }}
                                </div>
                                <div class="reason-info">
                                    <p><strong>Reason:</strong> </p>
                                    {% if hiring_request.status == 'Rejected' %}
                                        {% for rejection_reason in hiring_request.rejectionreason_set.all %}
                                            {{ rejection_reason.reason_text }}
                                        {% endfor %}
                                        
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>  
        </div>      
        <div class="container-fluid">
            <div class="container row col-12">
                <form method="get" class="form-inline col-6" style="display:flex;height:2.5rem;width:33rem;">
                    <input  type="text" name="city_search_query" placeholder="Search by City Name" value="{{ city_search_query }}" class="form-control mr-2" style="margin-right:1rem;">
                    <button type="submit" class="btn btn-primary" style="width:10rem;height:2.5rem;">Search</button>
                </form>
                <form method="get" class="form-inline col-6" style="margin-top:-0.5rem;display:flex;height:2.5rem;width:33rem;margin-right:1rem;">
                    {{ city_filter_form.city }}
                    <button type="submit" class="btn btn-primary" style="width:10rem;height:2.5rem;" >Filter by City</button>
                </form>
                
            </div>
            
            {% if selected_city %}
                <div class="container" style="font-size: 20px; color: white;">
                    <p>Selected City: {{ selected_city.name }}</p>
                </div>
            {% endif %}
        </div>
                    {% if workers %}
                {% for worker in workers %}
                <div class="col-md-3">
                    <div class="card worker-card">
                        {% for customer in customers %}
                            {% if worker.user.id == customer.user.id %}
                                {% if customer.profile_pic %}
                                    <img src="{{ customer.profile_pic.url }}" class="card-img-top" alt="Worker Image">
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        <div class="overlay">
                            <button onclick="window.location='{% url 'employer_hire' worker.id %}'" class="btn btn-primary btn-sm">Hire Me</button>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ worker.user.first_name }}</h5>
                            <div class="d-flex justify-content-between">
                                <p class="card-text">
                                    <strong>Wage:</strong> ₹{{ worker.wage }}
                                </p>
                                <p class="card-text">
                                    <strong>Experience:</strong> {{ worker.experience }} Years
                                </p>
                            </div>
                            {% for customer in customers %}
                                {% if worker.user.id == customer.user.id %}
                                    <p class="card-text">
                                        <strong>Country:</strong> {{ worker.country }}
                                    </p>
                                    <p class="card-text">
                                        <strong>City:</strong> {{ worker.city }}
                                    </p>
                                    <p class="card-text">
                                        <strong>Location:</strong> {{ customer.location }}
                                    </p>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
                {% else %}
                    <div class="col-md-12">
                        <p class="text-danger">No workers are available.</p>
                    </div>
            {% endif %}
                    </div>
                </div>

<style>
    .card {
        border: 1px solid #000;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        transition: transform 0.2s;
    }

    .card:hover {
        transform: scale(1.03);
    }

    .card-title {
        font-size: 1.5rem;
        font-weight: bold;
        color: #333;
    }

    .card-text {
        font-size: 1.2rem;
        color: #000;
    }

    .btn {
        border-radius: 5px;
    }

    .text-danger {
        color: #FF6347;
    }
</style>




 {% comment %} FOOTER CONTENTS START  {% endcomment %}
 <style>
    /*footer*/
    @media (max-width: 280px) {
        footer {
            padding: 10px; 
        }

        .container {
            padding-left: 5px; 
            padding-right: 5px; 
        }

        .foote_bottom_ul_amrc {
            text-align: center; 
        }

        .social_footer_ul {
            text-align: center; 
        }

        
        img {
            max-width: 100%;
            height: auto;
        }

        
    }
    .col_white_amrc { color:#FFF;}
    footer { width:100%; background-color:#263238; min-height:150px; padding:10px 0px 15px 0px ; } /* Decreased min-height */
    .pt2 { padding-top:20px ; margin-bottom:10px ; }
footer p { font-size:13px; color:#CCC; padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:#CCC;}
.footer_ul_amrc li a:hover{ color:#fff; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }

.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}

.bottom_border { border-bottom:1px solid #323f45; padding-bottom:20px;}
.foote_bottom_ul_amrc {
    list-style-type:none;
    padding:0px;
    display:table;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:#999; margin:0 12px;}

.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
.social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
.social_footer_ul li a { color:#CCC; border:1px solid #CCC; padding:8px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}

/* Credit to https://bootsnipp.com/snippets/bxDBA */
</style>
<footer class="footer">
    <div class="container bottom_border">
        <div class="row">
            <div class="col-sm-4 col-md col-sm-4 col-12 col">
                <h5 class="headin5_amrc col_white_amrc pt2">Find us</h5>
                <p class="mb10">NativeHire is a user-friendly web app that streamlines job searches and hiring processes. <br>NativeHire connects job seekers with employers, offers efficient communication, and uses <br>algorithms for better matching, making it a valuable resource for both parties.</p>
                <p><i class="fa fa-location-arrow"></i> Calicut, Kerala </p>
                <p><i class="fa fa-phone"></i> +91-8547278372  </p>
                <p><i class="fa fa-envelope"></i> NativeHire@gmail.com  </p>
            </div>
            <div class="col-sm-4 col-md col-sm-4 col-12 col">
                <img src="{% static 'images/logo-no-background.png' %}" alt="Your Logo" class="img-responsive" style="float: right;width:18rem;height:15rem;">
            </div>
        </div>
    
        <ul class="foote_bottom_ul_amrc">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about_us' %}">About</a></li>
        </ul>
        <p class="text-center">Copyright @2023 | Designed by <a href="http://shadiportfolio.pythonanywhere.com/">MUHAMMED SHADI</a></p>
        <ul class="social_footer_ul">
            <li><a href="https://twitter.com/shadimk111"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="https://github.com/SHADIMK7"><i class="fab fa-github"></i></a></li>
            <li><a href="https://linkedin.com/in/muhammedshadi"><i class="fab fa-linkedin"></i></a></li>
            <li><a href="https://instagram.com/s.h_a.d.i"><i class="fab fa-instagram"></i></a></li>
        </ul>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

{% comment %} FOOTER CONTENTS END  {% endcomment %}
{% endblock %}