<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset</title>
</head>
<body>
    <p>Hello,</p>
    <p>Your password has been reset. Here is your new password:</p>
    <p><strong>{{ new_pass }}</strong></p>
    <p>Please use this new password to log in to your account. We recommend changing your password after logging in.</p>
    <p>If you didn't request this password reset, please contact our support team immediately.</p>
    <p>Thank you for using our service.</p>
    <br>
    <p>Best regards,</p>
    <p>The NativeHire Team</p>
    <br>
    <img src="cid:logo" alt="Company Logo">
</body>
</html>
