<html>
<body>
<p>Dear {{employer.user.first_name}} {{employer.user.last_name}},</p>
<p>Welcome to NativeHire, your bridge to connecting with skilled workers</p>
<p><b> Your username is : {{employer.user.username}} <br>
<p>    Your email is : {{employer.user.email}}</b><br>
<p>Log on to your page and hire workers as per your demands</p>
<p>We wish you'll find your desired workers</p>
<p>Thank you! for using our App</p>
<img src ="cid:logo" alt="Your Logo" style="height: 6rem; width: 6rem;">
</body>
</html>