<html>
<body>
<p>Dear {{worker.user.first_name}} {{worker.user.last_name}},</p>
<p>Welcome to NativeHire, a platform made to connect workers with potential employers</p>
<p><b> Your username is : {{worker.user.username}} <br>
 current wage is : ₹ {{worker.wage}} <br>
  experience is : {{worker.experience}} Years </b></p>
<p>Please set your availabile days after logging in and update your details on the app if required.</p>
<p>We wish you'll find jobs as per your wish</p>
<p>Thank you! for using our App</p>
<img src ="cid:logo" alt="Your Logo" style="height: 6rem; width: 6rem;">
</body>
</html>